section.bread-crumb
    .container
        p.bread-crumb-style Главная \ Найти друга \ Озик \ Оставить заявку
section.application
    .container
        h1.application-title Оставить заявку:
        .application-block
            p.application-block-title В скором времени с вами свяжутся
            form(action="")
                .row.m-0
                    .col-4.application-block-form
                        .app-input.app-input-style
                            input(type='text', name='login', required='')
                            label.app-label Ваше ФИО:
                            span.line
                        .app-input.app-input-style
                            input(type='text', name='login', required='')
                            label.app-label E-mail:
                            span.line
                        .app-input.app-input-style
                            input(type='text', name='login', required='')
                            label.app-label Телефон:
                            span.line
                    .col.application-block-card
                        .application-block-card-images
                            img.application-images(src="images/ozik-1.png", alt="")
                            .application-block-card-icon
                                img.application-icon(src="images/icon/paw-logo.svg", alt="")
                            p.application-block-card-name Озик
                .row.p-0.m-0.application-button
                    button.application-button-submit(type="submit") Отправить заявку
