section.bread-crumb
    .container
        p.bread-crumb-style Главная \ О нас
section.about
    .container
        h2.block-head.mt-0 О нас:
        p.about-us-text Этот сайт создан волонтерами с единственной целью – спасти жизни животных и помочь найти им новый дом и любящих хозяев.
        p.about-us-text В нашей стране приютов для животных совсем немного. В частном  центре "Приют НН" более 500 животных, по этому показателю мы являемся крупнейшим частным центром в Ниженем Новгороде и в России. Подавляющая часть животных принесена туда добрыми людьми или бывшими хозяевами. Животные очень разные - ласковые и не очень, своенравные, боязливые, игривые, грустные, веселые. И все-все – очень красивые!
        p.about-us-text Все наши подопечные мечтают об одном – найти свой дом и любящих хозяев.
        p.about-us-text.m-0 Мы – их единственный шанс выжить и обрести новую жизнь. К сожалению, в нашей стране люди опасаются брать кошек из приютов. На самом деле любому по силам спасти животное и подарить ему новую жизнь, тепло, ласку, внимание! Поверьте, животные не останутся в долгу. Они подарят вам свою душу, сердце и станут самыми преданными вашими друзьями!
        h2.block-head Условия содержания:
        .detention-block
            p.about-us-text.about-us-text-style Все животные, попадающие в приют, вне зависимости были они найдены на улице или их отдали бывшие хозяева, проходят обязательный карантин в отдельном комфортном вольере. Карантин длится примерно 2 недели. В дальнейшем, животные переезжают жить в одну из общих комнат, к другим.
            .detention-block-info
                .detention-blocks
                    img.detention-blocks-img(src="images/icon/done-icon.svg", alt="Иконка галочки")
                    p.about-us-text В приюте работают волонтеры с ветеринарным образованием.
                .detention-blocks
                    img.detention-blocks-img(src="images/icon/done-icon.svg", alt="Иконка галочки")
                    p.about-us-text Мы прививаем и стерилизуем всех подопечных приюта.
                .detention-blocks
                    img.detention-blocks-img(src="images/icon/done-icon.svg", alt="Иконка галочки")
                    p.about-us-text В приюте проводится регулярная обработка от паразитов.
                .detention-blocks
                    img.detention-blocks-img(src="images/icon/done-icon.svg", alt="Иконка галочки")
                    p.about-us-text Все подопечные питаются кормами премиум-класса.
                .detention-blocks
                    img.detention-blocks-img(src="images/icon/done-icon.svg", alt="Иконка галочки")
                    p.about-us-text Мы всегда находимся на связи с новыми хозяевами животных.


