section.contacts-adress
    .container
        h2.block-head Наши контакты и адреса:
    .about-us-banner
        .container
            .detention-block
                .our-contacts-lc
                    .contacts-block
                        p.our-contacts-text Наши адреса: 
                        img.our-contacts-img(src="images/icon/home-icon.svg", alt="Иконка домика")
                    p.our-contacts-text.m-0 Проспект Бусыгина, д. 16; 
                    p.our-contacts-text.m-0 Ул. Сергея Есенина, д. 38; 
                    p.our-contacts-text.m-0 Ул. Глеба Успенского, д. 1к2
                    .contacts-block.contacts-block-style
                        p.our-contacts-text Наш e-mail: 
                        img.our-contacts-img(src="images/icon/mail-icon.svg", alt="Иконка письма")
                    p.our-contacts-text.m-0 priutnn@mail.ru 
                .our-contacts-rc
                    p.our-contacts-text Мы в мессенджерах:
                    .contacts-block
                        p.our-contacts-text.m-0 Telegram: 
                        a.our-contacts-text(href="")    
                            img.our-sn-img(src="images/icon/telegram.svg", alt="Иконка Телеграма")
                    .contacts-block
                        p.our-contacts-text.m-0 WhatsApp: 
                        a.our-contacts-text(href="")
                            img.our-sn-img(src="images/icon/whatsapp.svg", alt="Иконка Ватсапа")
                    .contacts-block
                        p.our-contacts-text.m-0 Viber: 
                        a.our-contacts-text(href="")
                            img.our-sn-img(src="images/icon/viber.svg", alt="Иконка Вайбера")
                    p.our-contacts-text.contacts-block-style Наш телефон:
                    .contacts-block
                        a.our-contacts-text(href="tel:88005553535") 8 800 555 35 35
                        a.our-contacts-text(href="")
                            img.our-contacts-img(src="images/icon/white-phone.svg", alt="Иконка трубки")