section.auth-form
    .container
        form.auth-form-style(action="obr_auth.php" method="post")
            .align-items-auth
                img.auth-img(src="images/logo-admin.svg", alt="Приют НН Админ-панель")
            .auth-input.auth-input-style
                input(type='text', name='login', required='')
                label.auth-label Логин
                span.line
            .auth-input.auth-input-style
                input(type='password', name='password', required='')
                label.auth-label Пароль
                span.line
            .align-items-auth
                button.auth-btn-style(type="submit") Войти