section.admin-animal-card
    .container
        h2.block-head Новая карточка животного:
        form(action="")
            .admin-animal-card-df
                .admin-animal-card-df.admin-animal-card-style
                    .input__wrapper
                        lable
                            input.input__file(type="file" name="file" id="input__file")
                            lable.input__file-button
                                span.input__file-button-text Выберите файл
                    .input__wrapper
                        input.input__file-mini(type="file" name="file" id="input__file")
                        lable.input__file-button-mini
                            span.input__file-button-text-mini Выберите файл
                        input.input__file-mini-2(type="file" name="file" id="input__file")
                        lable.input__file-button-mini
                            span.input__file-button-text-mini Выберите файл
                .admin-animal-card-info.admin-animal-card-style
                    input.admin-animal-name(type="text" value="" placeholder="Кличка животного")
                    .admin-animal-card-df
                        .admin-animal-card-stat-lc
                            p.admin-animal-card-stat-head Возраст:
                            .admin-animal-card-df.admin-card-stat-block-style
                                input.admin-animal-card-stat-input(type="text" placeholder="Ввод" value="")
                                img.admin-animal-card-stat-img(src="images/admin-icon/calendar.svg", alt="Иконка календаря")
                            p.admin-animal-card-stat-head Пол:
                            .admin-animal-card-df.admin-card-stat-block-style
                                select.admin-animal-card-stat-input
                                    option Мужской
                                    option Женский
                                img.admin-animal-card-stat-img(src="images/admin-icon/gender.svg", alt="Иконка пола")
                            p.admin-animal-card-stat-head Окрас:
                            .admin-animal-card-df.admin-card-stat-block-style
                                input.admin-animal-card-stat-input(type="text" placeholder="Ввод" value="")
                                img.admin-animal-card-stat-img(src="images/admin-icon/palette.svg", alt="Иконка палитры")
                            p.admin-animal-card-stat-head Порода:
                            .admin-animal-card-df.admin-card-stat-block-style.p-0
                                select.admin-animal-card-stat-input
                                    option Метис
                                    option Овчарка
                                img.admin-animal-card-stat-img(src="images/admin-icon/book.svg", alt="Иконка книги")
                        .admin-animal-card-stat-lc
                            p.admin-animal-card-stat-head Шерсть:
                            .admin-animal-card-df.admin-card-stat-block-style
                                select.admin-animal-card-stat-input
                                    option Короткая
                                    option Прямая
                                img.admin-animal-card-stat-img(src="images/admin-icon/hairdresser.svg", alt="Иконка ножниц")
                            p.admin-animal-card-stat-head Приучен к лотку:
                            .admin-animal-card-df.admin-card-stat-block-style
                                select.admin-animal-card-stat-input
                                    option Да
                                    option Нет
                                img.admin-animal-card-stat-img(src="images/admin-icon/toilet.svg", alt="Иконка туалета")
                            p.admin-animal-card-stat-head Характер:
                            .admin-animal-card-df.admin-card-stat-block-style
                                select.admin-animal-card-stat-input
                                    option Игривый
                                    option Спокойный
                                img.admin-animal-card-stat-img(src="images/admin-icon/tennis-ball.svg", alt="Иконка мячика")
                            p.admin-animal-card-stat-head Социализация:
                            .admin-animal-card-df.admin-card-stat-block-style.p-0
                                select.admin-animal-card-stat-input
                                    option Готов
                                    option Не готов
                                img.admin-animal-card-stat-img(src="images/admin-icon/social.svg", alt="Иконка общества")
            .admin-animal-card-bot-stat
                .admin-animal-card-df
                    .admin-animal-card-bot-stat-lc
                        p.admin-animal-card-stat-head Необходимые прививки:
                            .admin-animal-card-df.admin-card-stat-block-style
                                select.admin-animal-card-stat-input
                                    option Да
                                    option Нет
                                img.admin-animal-card-stat-img.admin-animal-card-stat-img-style(src="images/admin-icon/syringe.svg", alt="Иконка прививки")
                        p.admin-animal-card-stat-head Размер:
                            .admin-animal-card-df.admin-card-stat-block-style.p-0
                                select.admin-animal-card-stat-input
                                    option Маленький
                                    option Средний
                                img.admin-animal-card-stat-img.admin-animal-card-stat-img-style(src="images/admin-icon/ruler.svg", alt="Иконка линейки")
                    .admin-animal-card-bot-stat-rc
                        p.admin-animal-card-stat-head Стерелизация:
                            .admin-animal-card-df.admin-card-stat-block-style
                                select.admin-animal-card-stat-input
                                    option Да
                                    option Нет
                                img.admin-animal-card-stat-img(src="images/admin-icon/denied.svg", alt="Иконка запрета")
                        p.admin-animal-card-stat-head Документация:
                            .admin-animal-card-df.admin-card-stat-block-style.p-0
                                select.admin-animal-card-stat-input
                                    option Есть
                                    option Нет
                                img.admin-animal-card-stat-img(src="images/admin-icon/documents.svg", alt="Иконка документов")
            .admin-animal-card-bot-stat.mt-3
                .admin-animal-card-story
                    p.admin-animal-card-stat-head История животного:
                    textarea.admin-animal-card-story-input(id="exampleFormControlTextarea1", rows="7" placeholder="История животного")
            .admin-animal-card-bot-stat.admin-card-btn-block
                button.admin-btn(type="submit") Сохранить

