section.bread-crumb
    .container
        p.bread-crumb-style Главная \ Пожертвования
section.donation
    .container
        h1.application-title Пожертвования:
        .donation-information
            h3.donation-information-title Помощь приюту для животных
            p.donation-information-text Животные, которые отловлены по контрактам ОСВ (отлов, стерилизация, выпуск), остаются в приюте. Мы стараемся найти им хозяев, так как на воле их никто не ждет и там они вряд ли выживут. Все расходы фонд оплачивает из своего кармана, поэтому нам очень важна благотворительная помощь со стороны сочувствующих людей.
            h3.donation-information-title  Финансовая помощь.
            p.donation-information-text Помощь в организации пиара, распространение листовок. Поиск и сбор необходимых приюту вещей. Финансовая помощь приюту для бездомных животных Если у вас есть желание поддержать наш фонд материально, то это можно сделать несколькими способами. Вы можете сделать единовременное пожертвование или стать постоянным куратором для любого животного. Став куратором, вы сможете оплачивать его содержание в приюте до того времени, когда оно найдет свой дом. 
        .donation-information-block
        .row
            .col.m-0.p-0
                .donation-information-block-bank
                    .donation-information-block-sberbank-header
                        img.donation-information-block-sberbank-images(src="images/icon/sberbank-logo.svg", alt="")
                        p.donation-information-block-bank-title Карта Сбербанка
                    p.donation-information-block-sberbank-text 4200 5420 4100 5690
            .col.m-0.p-0
                .donation-information-block-bank
                    p.donation-information-block-bank-title.mt-4 Банковский перевод
                    .donation-information-block-bank-text-block
                        p.donation-information-block-bank-text ПАО Сбербанк
                        p.donation-information-block-bank-text-red ИНН 7751008119 \ КПП 775003035 \ БИК 044525225
                        p.donation-information-block-bank-text-red Кор. счет 30101810400000000225 \ Счет 40703810138000002387
                        p.donation-information-block-bank-text Назначение платежа «Благотворительный взнос»
                        p.donation-information-block-bank-text Благотворительный фонд защиты животных «Приют НН»
        .row
            .donation-information-block-perevod
                p.donation-information-block-perevod-text Если Вам нужен другой способ для перевода, пожалуйста свяжитесь с нами по телефону +7 (800) 555 35 35.
                a(href="").btn-information-perevod Контакты
