section.admin-add-news
    .container
        h2.block-head Добавить новость:
        form.admin-add-news-container(action="")
            .admin-add-news-container-title
                p.admin-add-news-title Заголовок:
                input.admin-add-news-input-title(type="text")
            .admin-add-news-container-text
                p.admin-add-news-title Текст новости:
                textarea.admin-add-news-input-text(id="exampleFormControlTextarea1" rows="3")
            button.admin-btn.admin-add-news-btn(type="submit") Сохранить

