.admin-app
    border-top: 1px solid $text
.app-block
    border: 1px solid $text
    height: 150px
    position: relative
    margin-bottom: 30px
    .app-count
        top: -1px
        left: -1px
        height: 35px
        width: 35px
        background-color: $admin-color
        position: absolute
        .count-number
            margin-top: 7px
            text-align: center
            color: #ffffff
            font-style: normal
            font-weight: 500
            font-size: 18px
            line-height: 21px
    .app-block-head
        margin: 10px 0
        font-style: normal
        font-weight: 500
        font-size: 18px
        line-height: 21px
        color: $text
        text-align: left
    .app-block-input
        border: 1px solid #9A9A9A
        width: 230px
        height: 27px
        color: $text
        font-style: normal
        font-weight: 400
        font-size: 16px
        line-height: 42px
        &:focus
            outline: none
.app-block-info-lc
    margin: auto 0 auto 50px
.app-block-info-rc
    margin: auto 0 auto 20px
.app-btn-block
    margin-top: 21px
    margin-right: 20px
.admin-card-btn
    margin-left: 10px
    background: #ffffff0
    color: $admin-color
    border: 1px solid $admin-color
    padding: 15px 50px
    font-style: normal
    font-weight: 500
    font-size: 18px
    line-height: 16px
    &:focus
        outline: none
        text-decoration: none
    &:hover
        color: $admin-color
        background-color: #f3f3fc
        text-decoration: none
.app-btn-style
    margin: 10px