section.bread-crumb
    .container
        p.bread-crumb-style Главная \ Найти друга \ Озик
section.animal-card
    .container
        .animal-card-block
            img.animal-card-images(src="images/ozik-1.png", alt="Первое фото")
            .animal-story-style
                p.animal-story-head Озик
                p.animal-story-text.m-0 Жизнь крохотного щенка началась под лестницей магазина. Вместо теплого лежака и вкусного обеда его ожидала холодная улица и подачки прохожих. К счастью, на улице малыш провел меньше месяца. Вскоре после своего рождения он и трое его братьев попали в руки команды ловцов благотворительного фонда «Приют НН». В приюте фонда он быстро окреп и подрос.
        p.animal-stat-head Параметры животного:
        .row
            .animal-stat.col
                .animal-param-block
                    p.animal-param Возраст:
                    .row
                        .col
                            p.animal-param-text 5 месяцев
                        .animal-param-img.col
                            img(src="images/icon/calendar-icon.svg", alt="Иконка календаря")
                .animal-param-block
                    p.animal-param Пол:
                    .row
                        .col
                            p.animal-param-text Мужской
                        .animal-param-img.col    
                            img(src="images/icon/gender-icon.svg", alt="Иконка пола")
                .animal-param-block
                    p.animal-param Окрас:
                    .row
                        .col
                            p.animal-param-text Темно-серый
                        .animal-param-img.col
                            img(src="images/icon/palette-icon.svg", alt="Иконка палитры")
                .animal-param-block
                    p.animal-param Порода:
                    .row
                        .col
                            p.animal-param-text Метис
                        .animal-param-img.col    
                            img(src="images/icon/book.svg", alt="Иконка книги")
            .animal-stat.col
                .animal-param-block
                    p.animal-param Шерсть:
                    .row
                        .col
                            p.animal-param-text Короткая
                        .animal-param-img.col
                            img(src="images/icon/scissors.svg", alt="Иконка календаря")
                .animal-param-block
                    p.animal-param Приучен к лотку:
                    .row
                        .col
                            p.animal-param-text Нет
                        .animal-param-img.col
                            img(src="images/icon/toilet.svg", alt="Иконка пола")
                .animal-param-block
                    p.animal-param Характер:
                    .row
                        .col
                            p.animal-param-text Игривый
                        .animal-param-img.col
                            img(src="images/icon/tennis-ball.svg", alt="Иконка палитры")
                .animal-param-block
                    p.animal-param Социализация:
                    .row
                        .col
                            p.animal-param-text Готов
                        .animal-param-img.col
                            img(src="images/icon/social-icon.svg", alt="Иконка книги")
            .animal-stat.col
                img.animal-card-images(src="images/ozik-2.png", alt="Второе фото")
        .row
            .animal-stat.col
                img.animal-card-images(src="images/ozik-3.png", alt="Третье фото")
            .animal-stat.col
                .animal-param-block
                    p.animal-param Необходимые прививки:
                    .row
                        .col
                            p.animal-param-text Сделаны
                        .animal-param-img.col
                            img(src="images/icon/syringe.svg", alt="Иконка вакцины")
                .animal-param-block
                    p.animal-param Размер:
                    .row
                        .col
                            p.animal-param-text Маленький
                        .animal-param-img.col    
                            img(src="images/icon/ruler.svg", alt="Иконка линейки")
                a.request-button(href="application.html") Оставить заявку
            .animal-stat.col
                .animal-param-block
                    p.animal-param Стерелизация:
                    .row
                        .col
                            p.animal-param-text Нет
                        .animal-param-img.col
                            img(src="images/icon/denied-icon.svg", alt="Иконка запрета")
                .animal-param-block
                    p.animal-param Документация:
                    .row
                        .col
                            p.animal-param-text Есть
                        .animal-param-img.col
                            img(src="images/icon/documents-icon.svg", alt="Иконка пола")