section.filter-catalog
    .container
        form(action="")
            .row.m-0.filter-up
                .col-2
                    input.custom-checkbox(type="checkbox" id="inlineCheckbox1" value="option1")  
                    label(for="inlineCheckbox1") Собака 
                    input.custom-checkbox(type="checkbox" id="inlineCheckbox2" value="option2")  
                    label(for="inlineCheckbox2") Кошка
                    input(type="radio" id="inlineRadio1" name="inlineRadioOptions" value="option1")  
                    label(for="inlineRadio1") Мужской
                    input(type="radio" id="inlineRadio2" name="inlineRadioOptions" value="option2")  
                    label(for="inlineRadio2") Кухня
                .col
                    select
                        option aaaaaa
                        option bbbbbb
                        option vvvvvv
                    button(type="submit") Применить
            .row.m-0.filter-down
                .col
                    input(type="search")
                    button(type="submit") 