section.bread-crumb
    .container
        p.bread-crumb-style Главная \ Информация
section.news
    .container
        h2.block-head.mt-0 Информация:
        .news-block
            .news-head-block
                p.news-title-style График работы приюта
                .news-date-block
                    p.news-date-style 16/10/2020
            .news-text-block
                p.news-content-style Друзья, во время карантина мы работаем ТОЛЬКО в режиме отдачи животных в добрые руки. Это означает, что вы сможете придти и взять кошку или собаку к себе в семью.
        .news-block
            .news-head-block
                .news-date-block
                    p.news-date-style 27/9/2020
                p.news-title-style Как забрать друга?
            .news-text-block
                p.news-content-style Забрать животное из нашего приюта легко — при себе нужно иметь паспорт и абсолютную уверенность в своих силах, ведь появление четвероногого друга в семье — большая ответственность.
        .news-block
            .news-head-block
                p.news-title-style Кошка спасла жизнь ребенку
                .news-date-block
                    p.news-date-style 15/4/2020
            .news-text-block
                p.news-content-style В Сети набирает популярность видео необычного происшествия, которое заставит заядлых собачников задуматься. «Героическая кошка», как ее окрестили в прессе, защитила маленького ребенка от напавшей на него собаки получше любого охранника.