section.admin-app
    .container
        .admin-animal-card-df
            h2.block-head.admin-app-head Просмотр новостей:
            a.admin-btn.app-story-btn(href="admin-add-news.html") Добавление новости
        form(action="")
            .app-block
                .app-count
                    p.count-number 1
                .admin-animal-card-df
                    .admin-animal-card-df
                        .app-block-info-lc
                            p.app-block-head Заголовок:
                            input.app-block-input(type="text" value="График работы приюта")
                            p.app-block-head Дата:
                            input.app-block-input(type="text" value="16/10/2020")
                        .app-block-info-rc
                            p.app-block-head Текст новости:
                            textarea.msg-block-input(name="",cols="75", rows="3") Друзья, во время карантина мы работаем ТОЛЬКО в режиме отдачи животных в добрые руки. Это означает, что вы сможете придти и взять кошку или собаку к себе в семью.
                    .app-btn-block.msg-btn-block-style
                        button.admin-btn.news-btn-style(type="submit") Редактировать
                        button.dlt-btn.news-btn-style(type="submit") Удалить