footer.admin-footer
    .container
        .navbar-collapse.nav.main-nav-style.admin-footer-style
            section.footer-item
                ul.nav.navbar-nav.main-navbar-style
                    li.nav-item.footer-nav-item-style
                        a.nav-link.admin-nav-link-style.p-0(href="") Найти друга
                    li.nav-item.footer-nav-item-style
                        a.nav-link.admin-nav-link-style.p-0(href="") Информация
                    li.nav-item.footer-nav-item-style
                        a.nav-link.admin-nav-link-style.p-0(href="") О нас
                    li.nav-item.footer-nav-item-style
                        a.nav-link.admin-nav-link-style.p-0(href="") Пожертвования
            section.footer-item
                a(href="")
                    img(src="images/logo-admin.svg", alt="Логотип Админ-панели Приют НН")
            section.footer-item
                .our-contacts-footer
                    img(src="images/icon/admin-phone.svg")
                    a.number-phone(href="tel:88005553535") 8 800 555 35 35
                    p priutnn@mail.ru
                .our-adress
                    p.m-0 Проспект Бусыгина, д. 16
                    p.m-0 Ул. Сергея Есенина, д. 38
                    p.m-0 Ул. Глеба Успенского, д. 1
    section.footer-copyright
        .container
            p.footer-copyright-text.m-0
                nobr © Приют НН Все права на любые материалы, защищены в соответствии с российским и международным законодательствами об авторском праве и смежных правах.