header.admin-header
    nav.navbar.navbar-expand-sm.main-navigation
        .container
            .navbar-collapse.admin-nav-style
                .nav-image
                    a(href="admin-index.html")
                        img(src="images/logo-admin.svg", alt="Логотип Админ-панели Приют НН")
                ul.nav.navbar-nav.admin-navbar-style
                    li.nav-item
                        a.nav-link.admin-nav-link-style.p-0(href="catalog.html") Просмотр заявок
                    li.nav-item
                        a.nav-link.admin-nav-link-style.p-0(href="information.html") Просмотр сообщений
                    li.nav-item
                        a.nav-link.admin-nav-link-style.p-0(href="about.html") Редактор новостей
                    li.nav-item
                        a.nav-link.admin-nav-link-style.p-0(href="donations.html") Новая карточка
                .nav-exit
                    img(src="images/icon/exit.svg")
                    a.exit-text(href="") Выход