header.main-header
    nav.navbar.navbar-expand-sm.main-navigation
        .container
            .navbar-collapse
                .nav-image
                    a(href="")
                        img(src="images/logo.svg", alt="Логотип Приют НН")
                ul.nav.navbar-nav
                    li.nav-item
                        a.nav-link.p-0(href="") Найти друга
                    li.nav-item
                        a.nav-link.p-0(href="") Информация
                    li.nav-item
                        a.nav-link.p-0(href="") О нас
                    li.nav-item
                        a.nav-link.p-0(href="") Пожертвования
                .nav-phone
                    img(src="images/icon/phone.svg")
                    a.number-phome(href="tel:88005553535") 8 800 555 35 35
                    