header.main-header
    nav.navbar.navbar-expand-sm.main-navigation
        .container
            .navbar-collapse.main-nav-style
                .nav-image
                    a(href="index.html")
                        img(src="images/logo.svg", alt="Логотип Приют НН")
                ul.nav.navbar-nav.main-navbar-style
                    li.nav-item
                        a.nav-link.nav-link-style.p-0(href="catalog.html") Найти друга
                    li.nav-item
                        a.nav-link.nav-link-style.p-0(href="information.html") Информация
                    li.nav-item
                        a.nav-link.nav-link-style.p-0(href="about.html") О нас
                    li.nav-item
                        a.nav-link.nav-link-style.p-0(href="") Пожертвования
                .nav-phone
                    img(src="images/icon/phone.svg")
                    a.number-phone(href="tel:88005553535") 8 800 555 35 35
                    