section.map
    h2.block-head Мы на карте:
    .global-map
        script(type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ae631862a9969335335d22a1c99614cf71bcbe842d02962601aedee76925473dc&amp;width=100%25&amp;height=457&amp;lang=ru_RU&amp;scroll=true")