section.news
    .container
        p.block-head Информация:
        .news-content-row
            .news-content-col
                p.news-content-date 16/10/2020
                p.news-content-title График работы приюта
                p.news-content-content Друзья, во время карантина мы работаем ТОЛЬКО в режиме отдачи животных в добрые руки. Это означает, что вы сможете придти и взять кошку или собаку к себе в семью.
            .news-content-col
                p.news-content-date 27/9/2020
                p.news-content-title Кошка спасла жизнь ребенку.
                p.news-content-content В Сети набирает популярность видео необычного происшествия, которое заставит заядлых собачников задуматься. «Героическая кошка», как ее окрестили в прессе, защитила маленького ребенка от напавшей на него собаки получше любого охранника.   
            .news-content-col
                p.news-content-date 15/4/2020
                p.news-content-title Как забрать друга?
                p.news-content-content Забрать животное из нашего приюта легко — при себе нужно иметь паспорт и абсолютную уверенность в своих силах, ведь появление четвероногого друга в семье — большая ответственность.