section.bot-slider
    h2.block-head Спонсоры:
    .bot-slider-bg
        .slider-inner.multiple-items.container
            .slider-item.slider-item-style
                .slider-img-botom
                    img(src="images/sponsors/sponsor_6.png", alt="")
            .slider-item.slider-item-style
                .slider-img-botom
                    img(src="images/sponsors/sponsor_3.png", alt="")
            .slider-item.slider-item-style
                .slider-img-botom
                    img(src="images/sponsors/sponsor_4.png", alt="")
            .slider-item.slider-item-style
                .slider-img-botom
                    img(src="images/sponsors/sponsor_5.png", alt="")
            .slider-item.slider-item-style
                .slider-img-botom
                    img(src="images/sponsors/sponsor_1.png", alt="")
            .slider-item.slider-item-style
                .slider-img-botom
                    img(src="images/sponsors/sponsor_7.png", alt="")
            .slider-item.slider-item-style
                .slider-img-botom
                    img(src="images/sponsors/sponsor_8.png", alt="")
            .slider-item.slider-item-style
                .slider-img-botom
                    img(src="images/sponsors/sponsor_9.png", alt="")
            .slider-item.slider-item-style
                .slider-img-botom
                    img(src="images/sponsors/sponsor_11.png", alt="")
            .slider-item.slider-item-style
                .slider-img-botom
                    img(src="images/sponsors/sponsor_2.png", alt="")
            .slider-item.slider-item-style
                .slider-img-botom
                    img(src="images/sponsors/sponsor_14.png", alt="")
            .slider-item.slider-item-style
                .slider-img-botom
                    img(src="images/sponsors/sponsor_15.png", alt="")