section.stat-block
    .container
        h2.block-head Статистика:
        .stat-block-style
            p.stat-block-text Как уличное животное обретает дом? Редко, когда человек, встретивший бездомыша, за несколько минут решается взять его к себе. Чаще всего за этим стоят десятки людей. А само животное проходит большой путь — километры дороги и несколько лет жизни в приютах в ожидании хозяина.
            .stat-block-style
                .stat-block-info
                    .stat-block-img
                        img(src="images/icon/stat-paw-icon.svg", alt="Логотип Приют НН")
                    .stat-block-items 
                        span.stat-block-info-span 808
                        p.stat-block-info-p Сейчас в приюте
                .stat-block-info
                    .stat-block-img
                        img(src="images/icon/stat-home-icon.svg", alt="Логотип Приют НН")
                    .stat-block-items    
                        span.stat-block-info-span 204
                        p.stat-block-info-p Нашли свой дом
            p.stat-block-text При появлении в доме собаки или кошки ваш образ жизни кардинально изменится! Вы будете подстраиваться под ритм вашего питомца, отказываться от выходных и позднего подъема. Животные - источник тепла и ласки, а так же огромного количества положительных эмоций!