section.top-slider
    .slider-inner.js-topslider
        .slider-item
            .slider-img-2
                .slider-content.container
                    .slider-title Наши сердца
                    .slider-text в ваших руках
                    a.btn.slider-btn(href="catalog.html") Подробнее
        .slider-item
            .slider-img-1
                .slider-content.container
                    .slider-title Забери своего
                    .slider-text нового друга
                    a.btn.slider-btn(href="catalog.html") Подробнее
        .slider-item
            .slider-img-3
                .slider-content.container
                    .slider-title Будь в ответе
                    .slider-text за тех, кого приручил
                    a.btn.slider-btn(href="catalog.html") Подробнее