<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title Приют НН
        //css
        link(rel="stylesheet" href="./css/styles.min.css")
        //ff
        link(rel="preconnect" href="https://fonts.gstatic.com") 
        link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet")
    body
        .wrapper
            //header
            include blocks/header
            //end header
            
            //main
            include blocks/top-slider
            //end main
            
            //stats-block
            include blocks/stats
            //end stats

            //about-us
            include blocks/index-about-us
            //end about-us
            
            //information
            include blocks/index-information
            //end information

            //feedback
            include blocks/feedback
            //end feedback

            //map
            include blocks/index-map
            //end map

            //footer
            include blocks/footer
            //end footer
        script(type="text/javascript" src="js/jquery-3.5.1.min.js")
        script(type="text/javascript" src="js/main.js")
        script(type="text/javascript" src="js/slick.min.js")