<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title Приют НН
        //css
        link(rel="stylesheet" href="./css/styles.min.css")
        //ff
        link(rel="preconnect" href="https://fonts.gstatic.com") 
        link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet")
    body
        .wrapper
            //header
            include blocks/header
            //end header
            
            //main
            //- section.topslider
            //-     .topslider__list.js-topslider
            //-         .topslider__slide
            //-             .slider__back1
            //-                 .container.topslider__slide-row
            //-                     .topslider__slide-text
            //-                         .topslider__slide-title Забери своего
            //-                             .text нового друга
            //-                     .topslider__slide-photo
            //-                     img(src="images/index-slider/index-lider-1.png", alt="")

            //-     .topslider__slide
            //-             .slider__back1
            //-                 .container.topslider__slide-row
            //-                     .topslider__slide-text
            //-                         .topslider__slide-title Забери своего
            //-                             .text нового друга
            //-                     .topslider__slide-photo
            //-                     img(src="images/index-slider/index-lider-2.png", alt="")
            //end main
            
            //footer
            include blocks/footer
            //end footer




































        script(type="text/javascript" src="js/jquery-3.5.1.min.js")
        script(type="text/javascript" src="js/slick.min.js")
        script(type="text/javascript" src="js/jquery.fancybox.min.js")
        script(type="text/javascript" src="js/main.js")
